ion-content{
    --ion-background-color:#d2e1f9;
    
}

ion-header{
    position: absolute;
}

ion-toolbar{
    --ion-background-color:transparent;
    --opacity:0;
}

ion-card{
    --ion-background-color: transparent;
    box-shadow: none !important;
}
ion-card-header{
    text-align: center;
}

ion-card-title{
    margin-top: 40px;
    font-size: 30px;
    color: #080808;
    text-align: center;
    font-weight: 800;
}

ion-card-subtitle{
    padding-top: 15px;
    font-size: 16px;
    color: #898585;
    text-align: center;
    font-weight: 400;
    text-transform: none;
}
ion-card-content{
    text-align: center;
    justify-content: center;
ion-list{
    ion-item{
        color: #74787e;
        font-size: 14px;
        --border-color:#d4d7db;
        --highglight-color-focus: #1248A0;
        --padding-start:0;
        --inner-padding-end:0;
        ion-input{
            color: #647b9d;
        }
    
        ion-icon{
            padding-right: 6px;
            font-size: 18px;
        }
    
        ion-input:hover{
            color:  #1248A0
        }
    }
}
}

.reg-btns{
    margin-top:  25px; 
    text-align: center;
    color: #F0F4FA;
    width: auto;
    .regbtn{
        --ion-color-primary: #215AB7;
        width: 50%;
    }
}

.text-tag{
    margin-top:30px;
    text-align:center ;
    span{
        font-size: 13px;
        font-weight: normal;
        color: #898585;
    }
}
.social-btns{
    margin-top: 20px;
    text-align: center;
    ion-button{
        width: 30px;
        padding-left: 5px !important;
    }
}


.bg-color{
    background: #88aae5;

}