ion-content{
    --ion-background-color:#88aae5;
    
}

ion-header{
    position: absolute;
}

ion-toolbar{
    --ion-background-color:transparent;
    --opacity:0;
}

ion-card{
    --ion-background-color: transparent;
    box-shadow: none !important;
}
ion-card-header{
    text-align: center;
}

ion-card-title{
    margin-top: 40px;
    font-size: 30px;
    color: #080808;
    text-align: center;
    font-weight: 800;
}

ion-card-subtitle{
    padding-top: 15px;
    font-size: 16px;
    color: #898585;
    text-align: center;
    font-weight: 400;
}
ion-card-content{
    text-align: center;
    justify-content: center;

    ion-item{
        color: #74787e;
        font-size: 14px;
        --border-color:#d4d7db;
        --highglight-color-focus: #1248A0;
        --padding-start:0;
        --inner-padding-end:0;
        ion-input{
            color: #647b9d;
        }
    
        ion-icon{
            padding-right: 6px;
            font-size: 18px;
        }
    
        ion-input:hover{
            color:  #1248A0
        }
}
}

.bg-color{
    background: #88aae5;

}