<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="login" text=""></ion-back-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Forgot password
      </ion-card-title>
      <ion-card-subtitle>
        Enter your email to reset your password.
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card-content>
        <ion-item>
          <ion-input label="Email: " type="email" >
            <ion-icon name="mail-outline"></ion-icon>
          </ion-input>
        </ion-item>
        <div>
          <ion-button size="small" fill="solid" shape="round">Reset</ion-button>
        </div>
  </ion-card-content>
</ion-content>
