<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="loginscreen" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Forgot password
      </ion-card-title>
      <ion-card-subtitle>
        Enter your email to reset your password.
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card-content>
    <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
      <ion-item>
        <ion-input 
          formControlName="email" 
          label="Email: " 
          type="email" 
          required>
          <ion-icon name="mail-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <div>
        <ion-button 
          type="submit" 
          size="small" 
          fill="solid" 
          shape="round"
          [disabled]="resetForm.invalid || isLoading">
          Reset
        </ion-button>
      </div>
    </form>
  </ion-card-content>
</ion-content>
