<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaulthref="login" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
      <ion-img src="assets/images/header1.png"></ion-img>
      <ion-card-content>
        <div class="wrapform">
          <ion-item>
            <ion-input type="text" name="email"placeholder="youremail@domain.com" required>
              <ion-icon name="mail-outline"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" name="email" placeholder="....." required>
              <ion-icon name="lock-outline"></ion-icon>
            </ion-input>
          </ion-item>
        </div>
        <div class="pwdforgot">
          <ion-button fill="clear" class="ion-no-padding">Forgot password?</ion-button>
        </div>
        <div class="sign-btn-wrap">
          <ion-button fill="clear" shape="round" class="sign-btn" (click)="homePager()">Login</ion-button>
        </div>
        <div class="text-tag">
          <span> or Login with</span>
        </div>
        <div class="social-btns">
          <ion-button fill="clear" shape="round" class="gglbtn ion-no-padding">
            <ion-img src="assets/images/facebook.png"></ion-img>
          </ion-button>
            <ion-button fill="clear" shape="round" class="gglbtn ion-no-padding">
              <ion-img src="assets/images/google.png"></ion-img>
            </ion-button>
            <ion-button fill="clear" shape="round" class="applebtn ion-no-padding">
              <ion-img src="assets/images/apple.png"></ion-img>
            </ion-button>
            <div class="ion-card-footer">
              <span>Don't have an account?</span><button class="ion-no-padding">Register</button>
            </div>
        </div>
      </ion-card-content>
      
  </ion-card>

</ion-content>
